<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basketball Shooting Stats</title>
</head>
<body>
    <h1>Enter Your Shooting Statistics</h1>
    <form method="POST" action="/process">
        <label for="OutOf">How many shots in each position?</label>
        <input type="text" id="OutOf" name="OutOf"><br><br>

        <label for="RightCorner">Right corner:</label>
        <input type="text" id="RightCorner" name="RightCorner"><br><br>

        <label for="RightWing">Right wing:</label>
        <input type="text" id="RightWing" name="RightWing"><br><br>

        <label for="Top">Top:</label>
        <input type="text" id="Top" name="Top"><br><br>

        <label for="LeftWing">Left wing:</label>
        <input type="text" id="LeftWing" name="LeftWing"><br><br>

        <label for="LeftCorner">Left corner:</label>
        <input type="text" id="LeftCorner" name="LeftCorner"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
