<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basketball Shooting Stats</title>
</head>
<body>
    <h1>Enter Your Shooting Statistics</h1>
    <form method="POST" action="/process">
        <label for="OutOf">How many shots in each position?</label>
        <input type="text" id="OutOf" name="OutOf"><br><br>

        <label for="ShotType">Select Shot Type:</label>
        <select id="ShotType" name="ShotType">
            <option value="3P">3-Pointers</option>
            <option value="Mid-Range">Mid-Range</option>
        </select><br><br>

        <label>Next to each position choose the type of most misses.</label><br><br>

        <label for="RightCorner">Right corner:</label>
        <input type="text" id="RightCorner" name="RightCorner">
        <input type="radio" id="RightCornerShort" name="RightCornerDistance" value="short">
        <label for="RightCornerShort">Short</label>
        <input type="radio" id="RightCornerLong" name="RightCornerDistance" value="long">
        <label for="RightCornerLong">Long</label><br><br>

        <label for="RightWing">Right wing:</label>
        <input type="text" id="RightWing" name="RightWing">
        <input type="radio" id="RightWingShort" name="RightWingDistance" value="short">
        <label for="RightWingShort">Short</label>
        <input type="radio" id="RightWingLong" name="RightWingDistance" value="long">
        <label for="RightWingLong">Long</label><br><br>

        <label for="Top">Top:</label>
        <input type="text" id="Top" name="Top">
        <input type="radio" id="TopShort" name="TopDistance" value="short">
        <label for="TopShort">Short</label>
        <input type="radio" id="TopLong" name="TopDistance" value="long">
        <label for="TopLong">Long</label><br><br>

        <label for="LeftWing">Left wing:</label>
        <input type="text" id="LeftWing" name="LeftWing">
        <input type="radio" id="LeftWingShort" name="LeftWingDistance" value="short">
        <label for="LeftWingShort">Short</label>
        <input type="radio" id="LeftWingLong" name="LeftWingDistance" value="long">
        <label for="LeftWingLong">Long</label><br><br>

        <label for="LeftCorner">Left corner:</label>
        <input type="text" id="LeftCorner" name="LeftCorner">
        <input type="radio" id="LeftCornerShort" name="LeftCornerDistance" value="short">
        <label for="LeftCornerShort">Short</label>
        <input type="radio" id="LeftCornerLong" name="LeftCornerDistance" value="long">
        <label for="LeftCornerLong">Long</label><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
